*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
}

#result{
    margin-top: 50px;
}