<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Encrypt and Compare Hash</title>
</head>
<body>
<h1>Encrypt and Compare Hash</h1>
<form action="/hash/encrypt" method="post">
    <label for="passwordEncrypt">Password:</label>
    <input type="text" id="passwordEncrypt" name="passwordEncrypt" required>
    <label for="rounds">Rounds</label>
    <input type="number" id="rounds" name="rounds" min="4" max="34" value="10" required>
    <button type="submit">Encrypt</button>
</form>

<hr>
<form th:action="/hash/compare" method="post">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
    <label for="hash">Hash:</label>
    <input type="text" id="hash" name="hash" required>
    <button type="submit">Compare</button>
</form>
</body>
</html>
